In [1]:
from sqlalchemy import create_engine
import pandas as pd
import time

In [2]:
engine = create_engine("mysql+pymysql://root:devdata13@localhost/auto")

In [3]:
link = '~/Documents/EXERCICES/EXO_PANDAS_ AUTO-MPG-XLS/autompg.xlsx'

In [4]:
df = pd.read_excel(link, skiprows=0, header=0)
print(df)

      mpg  cylindres  déplacement  puissance  poids  accélération  \
0    18.0          8        307.0      130.0   3504          12.0
1    15.0          8        350.0      165.0   3693          11.5
2    18.0          8        318.0      150.0   3436          11.0
3    16.0          8        304.0      150.0   3433          12.0
4    17.0          8        302.0      140.0   3449          10.5
..    ...        ...          ...        ...    ...           ...
393  27.0          4        140.0       86.0   2790          15.6
394  44.0          4         97.0       52.0   2130          24.6
395  32.0          4        135.0       84.0   2295          11.6
396  28.0          4        120.0       79.0   2625          18.6
397  31.0          4        119.0       82.0   2720          19.4

     année de modèle  origine          Nom de la voiture
0                 70        1  chevrolet chevelle malibu
1                 70        1          buick skylark 320
2                 70        1         plymouth satellite
3                 70        1              amc rebel sst
4                 70        1                ford torino
..               ...      ...                        ...
393               82        1            ford mustang gl
394               82        2                  vw pickup
395               82        1              dodge rampage
396               82        1                ford ranger
397               82        1                 chevy s-10

[398 rows x 9 columns]

In [6]:
df.to_sql('autompg', con = engine, if_exists='replace', index = False)